{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
      <div class="col">
        <h1>This is the About page!</h1>
        <p>Nice to see you in about template</p>
        <p>Nice to meet you again in about template</p>
        <p>This is greeting from template data: {{index .StringMap "test"}}</p>
        <p>{{ if ne (index .StringMap "remote_ip") ""}}
          Your remote IP address is {{index .StringMap "remote_ip"}}
          {{ else }}
          I don't know your IP address yet. Please visit <a href="/">the homepage</a> and come back!
          {{end}}


        </p>

      </div>
  </div>
</div>
{{end}}
